{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - Home{{/block}}

{{#block 'content'}}
<div class="container">
    <h3>Search Products</h3>
    <div class="form-group col-md-6">
        <label>Product to search</label>
        <select class="form-control" id="itemSearch" name="productSearch">
            <option value="">Choose a product type</option>
            <option value="diffuser">Diffuser</option>
            <option value="oil">Essential Oil</option>
        </select>
    </div>
    <div id="diffuser-search" style="display:none";>
        <form method="GET">
            {{{form}}}
            <input type="submit" class="btn btn-primary btn-sm" value="Filter" />
        </form>
    </div>
    <div id="oil-search" style="display:none";>
        <form method="GET">
            {{{form}}}
            <input type="submit" class="btn btn-primary btn-sm" value="Filter" />
        </form>
    </div>
</div>






<h4>Diffusers</h4>
<ul>
    {{#each diffuser}}
    <li style="color:blueviolet">Name: {{this.diffuser_name}}</li>
    <li style="color:rgb(226, 43, 217)">Category: {{this.category.name}}</li>
    {{#each tags}}
    <li>Tags: {{this.name}}</li>
    {{/each}}
    {{/each}}
</ul>

<h4>Essential Oil</h4>
<ul>
    {{#each oil}}
    <li style="color:blueviolet">Name: {{this.name}}</li>
    {{#each tags}}
    <li style="color:rgb(226, 43, 217)">Tags: {{this.name}}</li>
    {{/each}}
    {{/each}}
</ul>
{{/block}}


{{#block 'js'}}
<script>
    let itemToSearch = document.querySelector("#itemSearch");
    let selectedItem;

    itemToSearch.addEventListener('change', function () {
        let selectedProduct = document.querySelector("#itemSearch").value;
        if (selectedProduct == "diffuser") {
            document.querySelector("#diffuser-search").style.display = 'block'
            document.querySelector("#oil-search").style.display = "none";
        } else if (selectedProduct == "oil"){
            document.querySelector("#diffuser-search").style.display = "none";
            document.querySelector("#oil-search").style.display = 'block'
        } else {
            document.querySelector("#diffuser-search").style.display = "none";
            document.querySelector("#oil-search").style.display = 'none'
        }
    })
</script>
{{/block}}


{{/extends}}