{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - Home{{/block}}

{{#block 'content'}}
<div class="container">
    <h3>Search Products</h3>
    <div class="form-group col-md-6">
        <label>Product to search</label>
        <select class="form-control" id="itemSearch" name="productSearch">
            <option value="">Choose a product type</option>
            <option value="diffuser">Diffuser</option>
            <option value="oil">Essential Oil</option>
        </select>
    </div>
    <form method="GET">
            {{{form}}}
            <input type="submit" class="btn btn-primary btn-sm" value="Filter" />
        </form>
</div>

<div class="container-fluid">
    <div class="mt-4">
        <h2>Diffuser Products</h2>
    </div>
    <table class="table mt-4">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price (SGD)</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each diffuser}}
            <tr>
                <td>
                    {{#if this.image_url}}
                    <img src="{{this.image_url}}" style="width:88px;height:95px" />
                    {{/if}}
                </td>
                <td>
                    <a href="/diffusers/{{this.id}}/update">{{this.diffuser_name}}</a>
                </td>
                <td>{{this.category.name}}</td>
                <td class="price">{{this.cost}}</td>
                <td>{{this.stock}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="container-fluid">
    <h2>Essential Oil</h2>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Size (mL)</th>
                <th scope="col">Price (SGD)</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{#each oil}}
                <td>
                    {{#if this.image_url}}
                    <img src="{{this.image_url}}" style="width:88px;height:95px" />
                    {{/if}}
                </td>
                <td>
                    <a href="/oils/{{this.id}}/update">{{this.name}}</a>
                </td>
                <td>
                    {{#each sizes}}
                    <span class="size-badge badge badge-pill badge-info ml-2">
                        {{this.size}} mL
                    </span>
                    {{/each}}
                </td>
                
                <td class="price">{{this.cost}}</td>
                <td>{{this.stock}}</td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{/block}}


{{#block 'js'}}
<script>
    let priceCurr = document.getElementsByClassName("price");
    for (let price of priceCurr) {
        let newPrice = (parseFloat(price.innerHTML) / 100.00).toFixed(2)
        price.innerHTML = newPrice
    }
    let itemToSearch = document.querySelector("#itemSearch");
    let selectedItem;

    itemToSearch.addEventListener('change', function () {
        let selectedProduct = document.querySelector("#itemSearch").value;
        if (selectedProduct == "diffuser") {
            document.querySelector("#id_product_type").value = selectedProduct
           
        } else if(selectedProduct == 'oil') {
             document.querySelector("#id_product_type").value = selectedProduct
        }
    })

    
</script>
{{/block}}


{{/extends}}