{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - Customer Details{{/block}}

{{#block 'content'}}
<div class="container">
    <h3>Customer Order Id: #{{order.id}}</h3>
    <ul>
        <li>Customer Name: {{order.customers.name}}</li>
        <li>Customer Email: {{order.customers.email}}</li>
        <li>Customer Mobile No.: +65 {{order.customers.mobile_no}}</li>
        <li>Customer Shipping Address.: {{order.street_name}} S({{order.postal_code}}) #{{order.unit_code}}
        </li>
    </ul>
    <a href="/orders/customerItems/{{order.customers.id}}/{{order.id}}/remove" 
    class="btn btn-danger btn-sm mt-2 mb-3">Delete Order</a>
    <h3>Customer Order Details</h3>
    <ul>
        <li>Ordered Date: {{order.order_date}}</li>
        <li class="payment_status">Payment Status: {{order.payment_status}}</li>
        <li class="order_status">Shipping Order Status:
            {{order.order_status}}
        </li>
    </ul>
    <div class="update_order">
         <form method="POST">
             <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            <div class="form-group mt-3">
                <select class="form-control" name="order_status">
                    <option value="In-Transit">Order in transit</option>
                    <option value="Completed">Completed</option>
                </select>
                <input type="submit" value="Update" class="btn btn-sm btn-warning mt-3"/>
            </div>
        </form>
    </div>

    <h3>Ordered Items</h3>

    <table class="table mt-4" id="diffuser-table">
        <h3>Diffuser Items</h3>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Cost</th>
            </tr>
        </thead>
        <tbody>
            {{#each diffuser}}
            <tr>
                <td>
                    <img src="{{this.diffuser.image_url}}" alt="product image" style="width:88px;height:95px" />
                </td>

                <td>
                    {{this.diffuser.diffuser_name}}
                </td>
                <td>{{this.quantity}}</td>
                <td>{{this.diffuser.cost}}</td>

            </tr>
            {{/each}}
        </tbody>
    </table>

    <table class="table mt-4" id="oil-table">
        <h3>Oil Items</h3>
        <thead class="thead-dark">
            <tr>

                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Cost</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                {{#each oil}}
                <td>
                    <img src="{{this.oil.image_url}}" alt="product image" style="width:88px;height:95px" />
                </td>

                <td>
                    {{this.oil.name}}
                </td>
                <td>{{this.quantity}}</td>
                <td>{{this.oil.cost}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{/block}}

{{#block 'js'}}
<script>
    let paymentStatus = '{{paymentStatus}}'
    console.log(paymentStatus)

    if (paymentStatus == 'paid') {
        document.querySelector(".order_status").style.display = 'none'
        document.querySelector(".update_order").style.display = "block"
    } else {
        document.querySelector(".update_order").style.display = 'none'
    }


</script>
{{/block}}

{{/extends}}