{{#extends 'base'}}
{{#block 'title'}}Aroma Mister - Orders{{/block}}

{{#block 'content'}}
<div class="container">
<h3>Filter Orders</h3>
    <form method="GET">
        {{{form}}}
        <input type="submit" value="Filter" class="btn btn-info mt-3"/>
    </form>

</div>



<div class="container-fluid">
    <div class="mt-4">
        <h2 class="page-header">Diffusers Order Table</h2>
    </div>
    <table class="table mt-4">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Order ID</th>

                <th scope="col">Customer Name</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Order Status</th>
                <th scope="col">Order Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each diffuser}}
            <tr>

                <td>
                    <a href="orders/customerItems/{{this.orders.customers.id}}/{{this.orders.id}}">{{this.orders.id}}</a>
                </td>

                <td>
                    <a href="orders/customerItems/{{this.orders.customers.id}}/{{this.orders.id}}">{{this.orders.customers.name}}</a>
                </td>
                <td class="payment_status">{{this.orders.payment_status}}</td>
                

                <td>{{this.orders.order_status}}</td>
                <td class="date">{{this.orders.order_date}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<div class="container-fluid">
    <div class="mt-4">
        <h2 class="page-header">Oil Order Table</h2>
    </div>
    <table class="table mt-4">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Order ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Order Status</th>
                <th scope="col">Order Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{#each oil}}
                <td>
                    <a href="orders/customerItems/{{this.orders.customers.id}}/{{this.orders.id}}">{{this.orders.id}}</a>
                </td>

                <td>
                    <a href="orders/customerItems/{{this.orders.customers.id}}/{{this.orders.id}}">{{this.orders.customers.name}}</a>
                </td>
                <td>{{this.orders.payment_status}}</td>
                <td>{{this.orders.order_status}}</td>
                <td class="date">{{this.orders.order_date}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{/block}}

{{#block 'js'}}
<script>
    let formatDate = document.getElementsByClassName("date")
    
    for (let date of formatDate) {
        date.innerHTML = date.innerHTML.slice(0, 16)
    }

    
</script>

{{/block}}
{{/extends}}