{{!-- Display all products in the store --}}
{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - Products{{/block}}

{{#block 'content'}}

<div class="container">
    <h2>Display all products</h2>

    <div>
        <a href="/diffusers/create" class="btn btn-info btn-sm mt-4 mb-4">Add Stock</a>

    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each diffuser}}
            <tr>
                {{!-- <th scope="row">1</th> --}}
                <td>{{this.id}}</td>
                <td>Image</td>
                <td>{{this.diffuser_name}}</td>
                <td>{{this.category_id.name}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.stock}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>


</div>

{{/block}}

{{/extends}}