{{!-- Display all products in the store --}}
{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - Diffusers{{/block}}

{{#block 'content'}}
<div class="container">
    <h3 class="page-header">Filter Search</h3>
    <form method="GET">
        {{{form}}}
        <input type="submit" class="btn btn-primary btn-sm mt-3 mb-4" value="Filter" />
    </form>
</div>

<div class="container-fluid">
    <h2 class="page-header">Diffuser products</h2>
    <a href="/diffusers/create" class="btn btn-info btn-sm mt-4 mb-4">Add New Stock</a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">SKU</th>
                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Tags</th>
                <th scope="col">Price (SGD)</th>
                <th scope="col">Stock</th>
                <th scope="col">Stock Actions</th>


            </tr>
        </thead>
        <tbody>
            {{#each diffuser}}
            <tr>
                <td class="sku">{{this.id}}</td>
                <td>
                    {{#if this.image_url}}
                    <img src="{{this.image_url}}" style="width:88px;height:95px" />
                    {{/if}}
                </td>
                <td>
                    <a href="/diffusers/{{this.id}}/update">{{this.diffuser_name}}</a>
                </td>
                <td>{{this.category.name}}</td>
                <td>{{#each this.tags}}<span
                        class="tags-badge badge badge-pill badge-info ml-2">{{this.name}}</span>{{/each}}</td>
                <td class="price">{{this.cost}}</td>
                <td>{{this.stock}}</td>
                <td>
                    <a href="/diffusers/{{this.id}}/update" class="btn btn-warning btn-sm ml-2">Update</a>
                    <a href="/diffusers/{{this.id}}/remove" class="btn btn-danger btn-sm ml-2">Remove</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/block}}

{{#block 'js'}}
<script>
    let priceCurr = document.getElementsByClassName("price");
    for (let price of priceCurr) {
        console.log((price))
        let newPrice = (parseFloat(price.innerHTML) / 100.00).toFixed(2)
        price.innerHTML = newPrice
    }
</script>
{{/block}}


{{/extends}}