{{!-- Display all products in the store --}}
{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - Products{{/block}}

{{#block 'content'}}

<div class="">
    <h2>Display all products</h2>

    <div>
        <a href="/diffusers/create" class="btn btn-info btn-sm mt-4 mb-4">Add Stock</a>

    </div>

    <table class="table" style="width: 75vw;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Tags</th>
                <th scope="col">Price (in cents)</th>
                <th scope="col">Stock</th>
                <th scope="col">Stock Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each diffuser}}
            <tr>
                {{!-- <th scope="row">1</th> --}}
                <td>{{this.id}}</td>
                <td>Image</td>
                <td>{{this.diffuser_name}}</td>
                <td>{{this.category.name}}</td>
                <td>{{#each this.tags}}<span class="badge badge-pill badge-info ml-2">{{this.name}}</span>{{/each}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.stock}}</td>
                <td>
                <a href="/diffusers/{{this.id}}/update" class="btn btn-primary btn-sm ml-2">Update</a>
                <a href="/diffusers/{{this.id}}/remove" class="btn btn-danger btn-sm ml-2">Remove</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{/block}}

{{/extends}}