{{#extends 'base'}}

{{#block 'content'}}
<h2>Essential Oil</h2>
<a href="oils/create" class="btn btn-info btn-sm mt-3 mb-3">Add Stock</a>

<div>
    <table class="table" style="width: 75vw">
        <thead class="thead-dark">
            <tr>
                <th scope="col">SKU</th>
                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Size (mL)</th>
                <th scope="col">Tags</th>
                <th scope="col">Price (in cents)</th>
                <th scope="col">Stock</th>
                <th scope="col">Stock Actions</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                {{!-- <th scope="row">1</th> --}}
                {{#each oil}}
                <td class="sku">{{this.id}}</td>
                <td>
                    
                    {{#if this.image_url}}
                    <img src="{{this.image_url}}" style="width:88px;height:95px" />
                    {{/if}}
                </td>
                <td>
                    <a href="/oils/{{this.id}}/update">{{this.name}}</a>
                </td>
                <td>
                    {{#each sizes}}
                    <span class="size-badge badge badge-pill badge-info ml-2">
                        {{this.size}} mL
                    </span>
                    {{/each}}
                </td>
                <td>{{#each this.tags}}<span class="tags-badge badge badge-pill badge-info ml-2">{{this.name}}</span>{{/each}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.stock}}</td>
                <td>
                    <a href="/oils/{{this.id}}/update" class="btn btn-primary btn-sm ml-2">Update</a>
                    <a href="/oils/{{this.id}}/remove" class="btn btn-danger btn-sm ml-2">Remove</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{/block}}

{{/extends}}