{{#extends 'base'}}
{{#block 'title'}}Delete Stock Item{{/block}}

{{#block 'content'}}

<div>
    {{#if diffuser}}
        <h2>Delete stock item: {{diffuser.diffuser_name}}</h2>
    {{else}}
         <h2>Delete stock item: {{oil.name}}</h2>
    {{/if}}
    <form method="POST">
        
        <div class="alert alert-danger">
            {{#if diffuser}}
                <p>Are you sure you want to delete {{diffuser.diffuser_name}}?</p>
            {{else}}
                <p>Are you sure you want to delete {{oil.name}}?</p>
            {{/if}}
        </div> 
        <input type="submit" class="btn btn-danger btn-sm" value="Yes"/>
        {{#if diffuser}}
            <a href="/diffusers" class="btn btn-success btn-sm">No</a>
        {{else}} 
            <a href="/oils" class="btn btn-success btn-sm">No</a>
        {{/if}}
    </form>
</div>

{{/block}}


{{/extends}}